---
import { actions } from 'astro:actions'
import type { GetStaticPaths } from 'astro'

import MainLayout from '@/layouts/MainLayout.astro'
import HeadingArticle from '@/components/blog/HeadingArticle.astro'
import FeaturedImageArticle from '@/components/blog/FeaturedImageArticle.astro'
import ContentArticle from '@/components/blog/ContentArticle.astro'
import PaginationArticle from '@/components/blog/PaginationArticle.astro'
import Container from '@/components/Container.astro'

import dayjs from 'dayjs'
import 'dayjs/locale/es'
dayjs.locale('es')

const { STRAPI_HOST } = import.meta.env

export const getStaticPaths = (async () => {
	const { data, error } = await actions.getAllArticles()

	if (error) {
		throw new Error('Hubo un error al obtener el artículo')
	}

	const articles = data.articles.data ?? []

	return articles.map((article) => ({
		params: { slug: article.slug },
		props: { article, articles }
	}))
}) satisfies GetStaticPaths

const { slug } = Astro.params
const { article, articles } = Astro.props

const currentArticleId = article.id

// Obtener la lista de IDs de los artículos
const articlesIds = articles.map((article) => article.id)

// Encontrar el índice del artículo actual en la lista de IDs
const currentIndex = articlesIds.indexOf(currentArticleId)

// Si no se encuentra el índice (error de lógica), lanzamos un error
if (currentIndex === -1) {
	throw new Error(`Artículo con ID ${currentArticleId} no encontrado.`)
}

// Obtener el ID del artículo anterior y siguiente de manera circular
const prevArticleId = articlesIds[(currentIndex - 1 + articlesIds.length) % articlesIds.length]
const nextArticleId = articlesIds[(currentIndex + 1) % articlesIds.length]

// Encontrar el artículo anterior y siguiente
const prevArticle = articles.find((article) => article.id === prevArticleId)
const nextArticle = articles.find((article) => article.id === nextArticleId)

const { title, createdAt, content, featuredImage, excerpt } = article
const image = featuredImage.url.startsWith('http')
	? featuredImage.url
	: `${STRAPI_HOST}${featuredImage.url}`
---

<MainLayout title="Blog page | La isla del Yoga">
	<section class="relative">
		<!-- <div class="absolute inset-0 w-full bg-black"></div> -->
		<div
			class="flex flex-col items-center justify-center gap-2 bg-white py-16 pb-36 xl:flex-row xl:justify-between xl:px-6 xl:py-20"
		>
			<FeaturedImageArticle title={title} image={image} />
			<HeadingArticle excerpt={excerpt} title={title} createdAt={createdAt} />
		</div>
	</section>
	<Container className="relative mb-16 mt-32">
		<ContentArticle className="mx-2" content={content} />
	</Container>
	<section class="px-1 xl:px-6">
		<PaginationArticle prevArticle={prevArticle} nextArticle={nextArticle} />
	</section>
</MainLayout>
