---
import { actions } from 'astro:actions'
import type { GetStaticPaths } from 'astro'

import MainLayout from '@/layouts/MainLayout.astro'
import ContentPaginationArticle from '@/components/blog/ContentPaginationArticle.astro'
import HeroArticle from '@/components/blog/HeroArticle.astro'

import dayjs from 'dayjs'
import 'dayjs/locale/es'
dayjs.locale('es')

const { STRAPI_HOST } = import.meta.env

export const getStaticPaths = (async () => {
	const { data, error } = await actions.getAllArticles()

	if (error) {
		throw new Error('Hubo un error al obtener el artículo')
	}

	const articles = data.articles.data ?? []

	return articles.map((article) => ({
		params: { slug: article.slug },
		props: { article, articles }
	}))
}) satisfies GetStaticPaths

const { slug } = Astro.params
const { article, articles } = Astro.props

const currentArticleId = article.id

// Obtener la lista de IDs de los artículos
const articlesIds = articles.map((article) => article.id)

// Encontrar el índice del artículo actual en la lista de IDs
const currentIndex = articlesIds.indexOf(currentArticleId)

// Si no se encuentra el índice (error de lógica), lanzamos un error
if (currentIndex === -1) {
	throw new Error(`Artículo con ID ${currentArticleId} no encontrado.`)
}

// Obtener el ID del artículo anterior y siguiente de manera circular
const prevArticleId = articlesIds[(currentIndex - 1 + articlesIds.length) % articlesIds.length]
const nextArticleId = articlesIds[(currentIndex + 1) % articlesIds.length]

// Encontrar el artículo anterior y siguiente
const prevArticle = articles.find((article) => article.id === prevArticleId)!
const nextArticle = articles.find((article) => article.id === nextArticleId)!

const { title, createdAt, content, featuredImage, excerpt, metadata } = article

const { metaTitle, metaDescription } = metadata

const image = featuredImage.url.startsWith('http')
	? featuredImage.url
	: `${STRAPI_HOST}${featuredImage.url}`

const currentPath = Astro.url.pathname

const formatPathTitle = (path: string) =>
	path
		.replace('/articles/', '')
		.replace(/-/g, ' ') // Remplazar guiones con espacios sin parar en el primero que encuentre
		.replace(/^./, (str) => str.toUpperCase()) // Convertir el primer carácter a mayúscula

const titleFormatted = formatPathTitle(currentPath)
---

<MainLayout description={metaDescription} image={image} title={`${metaTitle} | La isla del Yoga`}>
	<section class="sticky left-0 top-0 w-full py-44 pb-36 xl:px-6">
		<div
			class="absolute left-0 top-[calc(var(--header-height)+3.5rem)] z-30 w-full -translate-y-1/2 text-center xl:left-6 xl:text-left"
		>
			<a
				class="font-heading text-xl font-light transition-colors duration-300 hover:text-primary"
				href="/"
				>Inicio -
			</a>
			<a
				class="font-heading text-xl font-light transition-colors duration-300 hover:text-primary"
				href="/blog"
				>Blog -
			</a>
			<span class="font-heading text-xl font-light text-primary">{titleFormatted}</span>
		</div>
		<HeroArticle title={title} createdAt={createdAt} excerpt={excerpt} image={image} />
	</section>
	<section class="relative bg-white px-2 py-20 shadow-y-section sm:px-6">
		<ContentPaginationArticle
			prevArticle={prevArticle}
			nextArticle={nextArticle}
			content={content}
		/>
	</section>
</MainLayout>
