---
import TikTok from '@/components/icons/TikTok.icon.astro'
import Youtube from '@/components/icons/Youtube.icon.astro'
import Instagram from '@/components/icons/Instagram.icon.astro'
import Spotify from '@/components/icons/Spotify.icon.astro'

interface Props {
	className?: string
	color?: 'alternative' | 'dark'
	size?: 'small' | 'medium' | 'large'
}

const { size = 'small', className, color = 'dark' } = Astro.props
---

<ul class:list={['flex', className]}>
	<li>
		<a href="#" target="_blank">
			<TikTok color={color} size={size} />
		</a>
	</li>
	<li>
		<a href="#" target="_blank">
			<Youtube color={color} size={size} />
		</a>
	</li>
	<li>
		<a href="#" target="_blank">
			<Instagram color={color} size={size} />
		</a>
	</li>
	<li>
		<a href="#" target="_blank">
			<Spotify color={color} size={size} />
		</a>
	</li>
</ul>
