---
import LogoIsla from './icons/Logo-isla.icon.astro'

interface Props {
	idName?: string
}

const { idName } = Astro.props

const menuItemsLeft = [
	{ label: 'Inicio', url: '/' },
	{ label: 'Sobre Mí', url: '/sobre-mi' }
]
const menuItemsRight = [
	{ label: 'Contacto', url: '/contacto' },
	{ label: 'Blog', url: '/blog' }
]

const currentPath = Astro.url.pathname
---

<header
	id={idName}
	class="fixed left-1/2 top-2 z-50 flex h-[var(--header-height)] w-full max-w-7xl -translate-x-1/2 items-center justify-center gap-2 rounded-3xl bg-white/75 shadow-lg backdrop-blur-sm"
>
	<div
		class="header-bar absolute bottom-[calc(2.5%+(var(--header-bar-height)/2))] left-1/2 h-[var(--header-bar-height)] w-[var(--header-bar-width)] -translate-x-1/2 rounded-full bg-secondary opacity-5 transition-opacity duration-1000"
	>
	</div>
	<nav class="">
		<div
			class="container mx-auto flex items-center justify-center capitalize text-gray-600 dark:text-gray-300"
		>
			<ul class="flex items-center gap-x-4">
				{
					menuItemsLeft.map((item) => (
						<li
							class:list={[
								'group relative mx-2 overflow-hidden uppercase',
								{
									active:
										currentPath === item.url ||
										(item.url === '/blog' && currentPath.includes('/articles/'))
								}
							]}
						>
							<a
								href={item.url}
								class="block font-heading transition-all duration-[400ms] ease-[var(--ease)] group-hover:-translate-y-full"
							>
								{item.label}
							</a>
							<a
								href={item.url}
								class="absolute left-0 top-full font-heading text-primary transition-all duration-[400ms] ease-[var(--ease)] group-hover:top-0"
							>
								{item.label}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</nav>
	<div class="mx-8 hidden sm:block">
		<LogoIsla />
	</div>
	<nav class="">
		<div
			class="container mx-auto flex items-center justify-center capitalize text-gray-600 dark:text-gray-300"
		>
			<ul class="flex items-center gap-x-4">
				{
					menuItemsRight.map((item) => (
						<li
							class:list={[
								'group relative mx-2 overflow-hidden uppercase',
								{
									active:
										currentPath === item.url ||
										(item.url === '/blog' && currentPath.includes('/articles/'))
								}
							]}
						>
							<a
								href={item.url}
								class="block font-heading transition-all duration-[400ms] ease-[var(--ease)] group-hover:-translate-y-full"
							>
								{item.label}
							</a>
							<a
								href={item.url}
								class="absolute left-0 top-full font-heading text-primary transition-all duration-[400ms] ease-[var(--ease)] group-hover:top-0"
							>
								{item.label}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</nav>
</header>

<style>
	.active {
		@apply pointer-events-none text-primary;
	}
	.animate-up {
		@apply -translate-y-[var(--header-bar-top)] bg-white backdrop-blur-0 transition-all duration-1000 ease-[var(--ease)];
		.header-bar {
			@apply opacity-100;
		}
	}
	.animate-down {
		@apply translate-y-0 transition-all duration-1000 ease-[var(--ease)];
		.header-bar {
			@apply opacity-5;
		}
	}
</style>
