---
const menuItemsLeft = [
	{ label: 'Home', url: '/' },
	{ label: 'About Me', url: '/about-me' }
]
const menuItemsRight = [
	{ label: 'Contacto', url: '/contacto' },
	{ label: 'Blog', url: '/blog' }
]

const currentPath = Astro.url.pathname
---

<!-- component -->
<header
	class="relative z-50 flex h-[var(--header-height)] items-center justify-center gap-2 bg-white shadow"
>
	<nav class="">
		<div
			class="container mx-auto flex items-center justify-center capitalize text-gray-600 dark:text-gray-300"
		>
			<ul class="flex items-center gap-x-4">
				{
					menuItemsLeft.map((item) => (
						<li
							class:list={[
								'group relative mx-2 overflow-hidden uppercase',
								{ 'pointer-events-none text-amber-700': currentPath === item.url }
							]}
						>
							<a
								href={item.url}
								class="block font-heading transition-all duration-[400ms] ease-[var(--ease)] group-hover:-translate-y-full"
							>
								{item.label}
							</a>
							<a
								href={item.url}
								class="absolute left-0 top-full font-heading text-amber-700 transition-all duration-[400ms] ease-[var(--ease)] group-hover:top-0"
							>
								{item.label}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</nav>
	<div class="mx-8 hidden sm:block">Logo</div>
	<nav class="">
		<div
			class="container mx-auto flex items-center justify-center capitalize text-gray-600 dark:text-gray-300"
		>
			<ul class="flex items-center gap-x-4">
				{
					menuItemsRight.map((item) => (
						<li
							class:list={[
								'group relative mx-2 overflow-hidden uppercase',
								{ 'pointer-events-none text-amber-700': currentPath === item.url }
							]}
						>
							<a
								href={item.url}
								class="block font-heading transition-all duration-[400ms] ease-[var(--ease)] group-hover:-translate-y-full"
							>
								{item.label}
							</a>
							<a
								href={item.url}
								class="absolute left-0 top-full font-heading text-amber-700 transition-all duration-[400ms] ease-[var(--ease)] group-hover:top-0"
							>
								{item.label}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</nav>
</header>

<style>
	.active-link {
		/* @apply absolute bottom-0 left-0 h-[1px] w-full bg-sky-700 transition-all duration-300; */
	}
</style>
