---
const menuItems = [
	{ label: 'Inicio', url: '/' },
	{ label: 'Sobre Mí', url: '/sobre-mi' },
	{ label: 'Contacto', url: '/contacto' },
	{ label: 'Blog', url: '/blog' }
]

const currentPath = Astro.url.pathname
---

<nav id="menu-footer" class="flex md:order-1 md:w-3/5 md:justify-end">
	<ul class="flex w-[max-content] flex-col md:items-end">
		{
			menuItems.map((item, index) => (
				<li
					id={`wrapper-link-${index}`}
					class:list={[
						'relative w-[max-content] md:text-right',
						{
							'pointer-events-none':
								currentPath === item.url ||
								(item.url === '/blog' && currentPath.includes('/articles/'))
						}
					]}
				>
					<a
						href={item.url}
						class:list={['link-top inline-block font-heading text-2xl font-bold uppercase']}
					>
						{item.label}
					</a>
					<a
						href={item.url}
						class:list={[
							'link-bottom absolute inset-0 inline-block font-heading text-2xl font-bold uppercase',
							{
								'active-link':
									currentPath === item.url ||
									(item.url === '/blog' && currentPath.includes('/articles/'))
							}
						]}
					>
						{item.label}
					</a>
				</li>
			))
		}
	</ul>
</nav>

<style>
	.active-link {
		pointer-events: none;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
	}
	.link-top {
		color: var(--text); /* Texto inicialmente vacío */
	}
	.link-bottom {
		color: var(--primary);
	}

	#wrapper-link-0:hover .link-bottom {
		animation: show 0.75s var(--ease) forwards;
	}
	#wrapper-link-1:hover .link-bottom {
		animation: show 0.75s var(--ease) forwards;
	}
	#wrapper-link-2:hover .link-bottom {
		animation: show 0.75s var(--ease) forwards;
	}
	#wrapper-link-3:hover .link-bottom {
		animation: show 0.75s var(--ease) forwards;
	}

	#wrapper-link-0:not(:hover) .link-bottom {
		animation: hide 0.75s var(--ease) forwards;
	}
	#wrapper-link-1:not(:hover) .link-bottom {
		animation: hide 0.75s var(--ease) forwards;
	}
	#wrapper-link-2:not(:hover) .link-bottom {
		animation: hide 0.75s var(--ease) forwards;
	}
	#wrapper-link-3:not(:hover) .link-bottom {
		animation: hide 0.75s var(--ease) forwards;
	}

	@keyframes show {
		from {
			clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
		}
		to {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
	}

	@keyframes hide {
		from {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
		to {
			clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
		}
	}
</style>
