---
import FeaturedImageArticle from '@/components/blog/FeaturedImageArticle.astro'
import HeadingArticle from '@/components/blog/HeadingArticle.astro'

interface Props {
	title: string
	createdAt: Date
	excerpt: string
	image: string
}

const { title, createdAt, excerpt, image } = Astro.props
---

<div
	class="relative flex flex-col items-center justify-center gap-2 xl:flex-row xl:justify-between"
>
	<FeaturedImageArticle title={title} image={image} />
	<HeadingArticle excerpt={excerpt} title={title} createdAt={createdAt} />
</div>
